fastapi==0.110.0
uvicorn[standard]==0.23.2
python-dotenv==1.0.0
google-generativeai==0.5.2
speechrecognition==3.14.4
pyttsx3==2.91
Pillow==10.0.0
pypdf==3.17.0
python-docx==1.2.0
python-pptx==1.0.2
beautifulsoup4==4.12.3
pytesseract==0.3.12
requests==2.32.5
Flask==3.0.0
flask-cors==4.0.0

